@import 'vars';
@import 'global';

.header__top {
    background-color: #f3f1ee;
    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__btn {
    margin: 10px auto;

    a {
        padding: 10px 18px;
        font-size: 14px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        background-color: #0674ec;
        color: #fff;
        margin-right: 215px;
    }

}

.header__name {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    color: #333333;

    &-name {
        max-width: 100px;

        span {
            color: #0674ec;
            font-size: 15px;
            line-height: 22px;
        }
    }
}

.ava {
    margin-right: 20px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;
        padding: 33px 0;

        &+li {
            margin-left: 25px;
        }
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: #333333;
        font-size: 15px;
    }
}

.header__menu-form {
    height: 45px;
    width: 365px;
    position: relative;
    border: 1px solid rgb(217, 223, 229);
    border-radius: 25px;

    input {
        border: none;
        padding: 0 20px 0 20px;
        color: #898f96;
        font-style: 15px;
        overflow: hidden;
        width: 250px;
        outline: none;
    }

    button {
        height: 45px;
        width: 70px;
        border-radius: 25px;
        position: relative;
        background-color: #0674ec;
        border: none;
        right: 0;
        top: 0;

    }
}

.header__form {
    text-decoration: none;
    border: none;
}


.search {
    height: 730px;
    
}

//   ========= header ===============

.search__title {
    padding-top: 160px;
    color: #fff;
    text-align: center;

    &-up {
        font-size: 60px;
        left: 70px;
    }

    &-down {
        font-weight: 700;
        font-size: 60px;
    }

    &-text {
        font-size: 20px;
        line-height: 70px;
    }
}

.title-button {
    font-size: 16px;
    display: inline-block;
    padding: 20px 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    min-width: 190px;
    max-height: 55px;
    margin: 60px 15px;
    color: #fff;
    margin-bottom: 173px;
}

.title-button.btn_all {
    background-color: #fff;
    color: #0674ec;
}


.search__form {
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);


    input {
        margin: 40px 0 40px 40px;
        width: 546px;
        padding: 20px 20px 20px 30px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #dcdcdc;
    }

    select {
        display: inline-block;
        height: 60px;
        margin-left: -5px;
        padding-left: 20px;
        padding-right: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        background-position-x: 165px;
        margin-right: 30px;
        border-radius: 0 5px 5px 0;
        border: 1px solid #dcdcdc;
    }

    button {
        padding: 20px 70px;
        margin-right: 40px;
        font-size: 16px;
        border: none;
        background-color: #0674ec;
        color: #fff;
        border-radius: 5px;
    }
}

.search__form::before {
    content: '';
    width: 1110px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 5px;
    position: absolute;
    top: -15px;
    left: 15px;
}

.search__form::after {
    content: '';
    width: 1080px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 30px;
}

// ========== product =======

.product {
    padding-top: 195px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

    .shadow {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);

    }

    &__item {
        max-width: 300px;
        display: block;
        text-align: center;
        padding: 40px 35px 50px;

        &-title {
            font-size: 24px;
            padding-bottom: 30px;
        }

        &-img {
            padding: 0 0 30px 0;
        }

        &-text {
            color: #555555;
            font-style: 16px;
            line-height: 30px;
        }
    }
}

// ========== weekly =======

.weekly {
    background-color: #eff1f5;
    padding: 120px 0;

    &__title {
        padding: 40px 10px 40px 30px;
        background-color: #fff;
        font-size: 30px;
        margin-bottom: 50px;
    }


}

.weekly__slider {
    display: flex  !important ;
    justify-content: space-between;
    max-height: 450px;

    &-img{
        max-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.weekly__slider-content {
    background-color: #fff;
    padding: 50px 60px 25px 50px;
    max-width: 585px;
    max-height: 100%;
    

    .content-title {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .content-name {
        display: flex;
        justify-content: start;
        padding-bottom: 30px;

        a {
            font-size: 15px;
            margin-right: 20px;
            display: flex;
            align-items: center;

            span {
                color: #000;
            }

            img {
                margin-right: 8px;
            }
        }


    }

    .content-text {
        font-size: 16px;
        line-height: 26px;
        color: #555555;
        padding-bottom: 37px;
    }

    ul {
        padding-bottom: 37px;
    }

    li {
        display: inline-block;
        text-decoration: none;
        color: #868c96;
        padding: 8px 17px;
        background-color: #f1f3f6;
        border-radius: 25px;
        margin-right: 5px;
    }
}




.content-info {
    border-top: 1px solid #ececec;
    padding-top: 25px;

    .price {
        background-color: #0674ec;
        max-width: 100px;
        line-height: 30px;
        text-align: center;
        border-radius: 25px;
    }
}