@import 'vars';
@import 'global';

@mixin text {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
}


// ================================================

.header__top {
    background-color: #f3f1ee;
    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__btn {
    margin: 10px auto;

    a {
        padding: 10px 18px;
        font-size: 14px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        background-color: #0674ec;
        color: #fff;
        margin-right: 215px;
    }

}

.header__name {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    color: #333333;

    &-name {
        max-width: 100px;

        span {
            color: #0674ec;
            font-size: 15px;
            line-height: 22px;
        }
    }
}

.ava {
    margin-right: 20px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;
        padding: 33px 0;

        &+li {
            margin-left: 25px;
        }
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: #333333;
        font-size: 15px;
    }
}

.header__menu-form {
    height: 45px;
    width: 365px;
    position: relative;
    border: 1px solid rgb(217, 223, 229);
    border-radius: 25px;

    input {
        border: none;
        padding: 0 20px 0 20px;
        color: #898f96;
        font-style: 15px;
        overflow: hidden;
        width: 250px;
        outline: none;
    }

    button {
        height: 45px;
        width: 70px;
        border-radius: 25px;
        position: relative;
        background-color: #0674ec;
        border: none;
        right: -1px;
        top: 0;

    }
}

.header__form {
    text-decoration: none;
    border: none;
}


.search {
    height: 730px;

}

//   ========= header ===============

.search__title {
    padding-top: 160px;
    color: #fff;
    text-align: center;

    &-up {
        font-size: 60px;
        left: 70px;
    }

    &-down {
        font-weight: 700;
        font-size: 60px;
    }

    &-text {
        font-size: 20px;
        line-height: 70px;
    }
}

.title-button {
    font-size: 16px;
    display: inline-block;
    padding: 20px 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    min-width: 190px;
    max-height: 55px;
    margin: 60px 15px;
    color: #fff;
    margin-bottom: 173px;

    &:hover {
        background-color: #fff;
        color: #0674ec;
    }
}

.search__form {
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);


    input {
        margin: 40px 0 40px 40px;
        width: 546px;
        padding: 20px 20px 20px 30px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #dcdcdc;
    }

    select {
        display: inline-block;
        height: 60px;
        margin-left: -5px;
        padding-left: 20px;
        padding-right: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        background-position-x: 165px;
        margin-right: 30px;
        border-radius: 0 5px 5px 0;
        border: 1px solid #dcdcdc;
    }

    button {
        padding: 20px 70px;
        margin-right: 40px;
        font-size: 16px;
        border: none;
        background-color: #0674ec;
        color: #fff;
        border-radius: 5px;
    }
}

.search__form::before {
    content: '';
    width: 1110px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 5px;
    position: absolute;
    top: -15px;
    left: 15px;
}

.search__form::after {
    content: '';
    width: 1080px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 30px;
}

// ========== product =======

.product {
    padding-top: 195px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

    &__item {
        max-width: 300px;
        display: block;
        text-align: center;
        padding: 40px 35px 50px;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }

        &-title {
            font-size: 24px;
            padding-bottom: 30px;
            font-weight: 400;
            color: #000;
        }

        &-img {
            padding: 0 0 30px 0;
        }

        &-text {
            color: #555555;
            font-style: 16px;
            line-height: 30px;
        }
    }
}

// ========== weekly =======

.weekly {
    background-color: #eff1f5;
    padding: 120px 0;

    &__title {
        padding: 40px 10px 40px 30px;
        background-color: #fff;
        font-size: 30px;
        margin-bottom: 50px;
    }


}

.weekly__slider {
    display: flex !important;
    justify-content: space-between;
    max-height: 450px;
    position: relative;

    &-img {
        max-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.slick-arrow {
    background-color: #7347c1;
    border: none;
    height: 45px;
    width: 55px;
    position: absolute;

    img {
        min-width: 8px;
        min-height: 14px;
    }

    &.slick-prev {
        border-radius: 25px 0px 0px 25px;
        top: -129px;
        right: 84px;
    }

    &.slick-next {
        border-radius: 0px 25px 25px 0px;
        top: -129px;
        right: 0;
        margin-right: 30px;
    }
}

.slick-arrow.slick-prev img {
    background-image: url(../img/icons/chevron-left.png);
}

.slick-arrow.slick-next img {
    background-image: url(../img/icons/chevron-right.png);
}

.weekly__slider-content {
    background-color: #fff;
    padding: 50px 60px 25px 50px;
    max-width: 585px;
    max-height: 100%;


    .content-title {
        font-size: 24px;
        padding-bottom: 20px;
    }

    ul {
        padding-bottom: 37px;
    }

    li {
        display: inline-block;
        text-decoration: none;
        color: #868c96;
        padding: 8px 17px;
        background-color: #f1f3f6;
        border-radius: 25px;
        margin-right: 5px;

    }
}

.content-name {
    display: flex;
    justify-content: start;
    padding-bottom: 30px;

    a {
        font-size: 15px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        color: #7347c1;

        span {
            color: #000;
        }

        img {
            margin-right: 8px;
        }
    }
}

.content-text {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    padding-bottom: 40px;
    margin: 0;
}

.content-info {
    border-top: 1px solid #ececec;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 400;


    .price {
        background-color: #0674ec;
        width: 100px;
        line-height: 30px;
        text-align: center;
        border-radius: 25px;
        color: #fff;
        margin-right: 20px;
    }

    .basket {
        color: #0674ec;
    }

    .like {
        color: #000;
        margin-right: 20px;

        span {
            color: #7347c1;
        }
    }

}

.content-info-inner {
    display: flex;
    align-items: center;
}

// ====== release============


.release {
    background-color: #f6f7fb;
    padding: 120px 0;

    .release__title {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;
    }

}

.release__menu {
    background-color: #fff;
    padding: 30px 0px 30px 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;

    button {
        display: inline-block;
        padding: 7px 20px;
        margin-right: 10px;
        font-size: 15px;
        background-color: #f1f3f6;
        border-radius: 25px;
        border: none;
        cursor: pointer;

        &:focus {
            background-color: #0674ec;
            color: #fff;
            outline: none;
        }
    }
}

.release__product-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.release__product {
    max-width: 360px;
}

.item__image {

    img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px 4px 0px 0px;
        min-width: 100%;

    }

}

.item__image:hover {
    .item__image-link {
        display: flex;
    }
}

.item__image-box {
    display: inline-block;
    position: relative;
}

.item__image-link {
    background-image: url(../img/releaseBG.png.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.item__image-link a {
    color: #fff;
    font-size: 15px;
    line-height: 43px;
    border: 1px solid #fff;
    padding: 0px 35px;
    border-radius: 50px;
    margin: 10px;

}

.item__image-link a:hover {
    background-color: #fff;
    color: #0674ec;
}

.release__product-content {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    margin-top: -3px;

    .item__title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    .content-text {
        padding-bottom: 30px;
    }

    .content-info {
        padding-top: 15px;

        .price {
            background-color: #e6f1fd;
            color: #0674ec;
            font-size: 15px;
            font-weight: 500;
            line-height: 30px;
            margin-right: 10px;
        }

        .content-info-inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .like {
            margin-right: 0;
        }

        .basket {
            padding-left: 35px;
        }
    }
}

.btn-all {
    text-align: center;

    button {
        background-color: #0674ec;
        font-size: 16px;
        padding: 18px 15px;
        border: 1px solid #fff;
        border-radius: 50px;
        min-width: 190px;
        max-height: 55px;
        color: #fff;
        outline: none;
        cursor: pointer;
    }
}

// === feed ===========


.feed__slid {
    .slick-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .slick-slide {
        text-align: center;
    }
}


//   ===== data ======


.data {
    background-color: #212225;
    padding: 90px 0px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 130px;
        text-align: center;

        &-icons {
            max-height: 50px;
            margin-bottom: 45px;
        }

        &-info {
            font-size: 36px;
            color: #feb71d;
            margin-bottom: 15px;
        }

        &-text {
            font-size: 18px;
            color: #fff;
        }
    }
}

.blue {
    color: #58c9e9;
}

.green {
    color: #77de51;
}

.red {
    color: #ff6a6d;
}

//  choose ========

.choose {
    padding: 90px 0px;
}

.title {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;

    &-up {
        font-size: 36px;
        margin-bottom: 30px;

        span {
            color: #0674ec;
        }
    }

    p {
        font-size: 16px;
        line-height: 30px;
    }
}

.choose__inner {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose__item {
    max-width: 320px;
    width: 100%;
    max-height: 375px;
    padding: 20px 20px 50px 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;

    &-number {
        font-size: 48px;
        color: rgba(92, 135, 248, .2);
        text-align: left;
    }

    &-logo {
        height: 55px;
    }

    &-title {
        padding: 50px 0 30px;
        font-size: 24px;
        font-weight: 400;
    }

    &-text {
        font-size: 16px;
        line-height: 30px;
        max-width: 300px;
        margin: 0 auto;
        color: $text;
    }
}


//   ===== sellstart ======


.sellstart__box {
    display: flex;
    justify-content: center;
}

.sellstart__item {
    height: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 100px;

    &.sell {
        background-image: url(../img/sellBG.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;

        button {
            color: #0674ec;
            background-color: #fff;
        }
    }

    &.start {
        background-image: url(../img/startBG.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;

        button {
            color: #7347c1;
            background-color: #fff;
        }
    }
}

.sellstart__item-img {
    margin: 100px 0 50px 0;
    max-height: 100px;
}

.sellstart__item-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sellstart__item-text {
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 580px;
    margin-bottom: 50px;
}

// ========  feedback  =========

.feedback__box {
    padding: 115px 0;
}

.feedback__inner {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.feedback__item {
    max-width: 490px;
    border-left: 2px solid #0674ec;
    padding: 50px 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 61px;

    &-author {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
}

.author-img {
    max-width: 85px;
    width: 100%;
}

.author-name {
    width: 100%;
    font-size: 20px;

    &-prof {
        @include text;
    }
}

.feedback__item-content {
    @include text;
}


// =====  News  ===============

.news {
    background-color: #eff1f5;
    padding-top: 115px;
    padding-bottom: 120px;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.news__item {
    background-color: #fff;
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    overflow: hidden;

    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &-img {
        max-height: 230px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    &-text {
        @include text;
    }
}

.news__content {
    padding: 25px 25px 25px 30px;
    border-bottom: 1px solid #ececec;
    min-height: 140px;
}

.news__item-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .date {
        width: 50%;
        border-right: 1px solid #ececec;
        padding: 5px 0px 5px 20px;
        @include text;

        span {
            color: #0674ec;
        }
    }

    .info {
        width: 50%;
        padding: 5px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            display: block;
            @include text;
        }
    }
}

// =====  News  ===============

.guarantee__inner {
    display: flex;
    justify-content: space-between;
}

.guarantee__inem {
    text-align: center;
    width: 50%;
    padding: 60px 0px;
    font-size: 24px;

    a {
        color: #0674ec;

    }

    &+div {
        border-left: 1px solid #ececec;

        a {
            color: #7347c1;

        }

    }

    &-img {
        margin-bottom: 25px;

    }
}

// =====  join  ===============

.join {
    background-image: url(../img/joinbg.jpg);
    padding: 110px 0px;
    color: #fff;

    &__title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        color: #e7e7e7;
        margin-bottom: 45px;
    }

    button {
        color: #0674ec;
        background-color: #fff;
    }
}

.join__inner {
    max-width: 530px;
    text-align: center;
    margin: 0 auto;
}

// =====  footer  ===============

.footer {
    background-image: url(../img/footerbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 265px;
        color: #ababab;
        line-height: 28px;

        &.right {
            max-width: 370px;
        }

        &-title {
            margin-bottom: 20px;
        }

        li {
            font-size: 15px;
            line-height: 32px;
        }
    }
}

.map {
    display: flex;
    margin-top: 15px;

    span {
        padding-top: 5px;
        padding-right: 15px;
    }

    .lnr.lnr-map-marker {
        padding-top: 20px;
    }
}

.lnr {
    color: #fff;
}

.footer__item.right {
    .header__menu-form {
        margin-top: 30px;

        .header__form {
            padding-left: 5px;

            input {
                max-width: 200px;
            }
        }

        background-color: #fff;
        border: none;

        button {
            color: #fff;
            width: 115px;
        }
    }
}
.soc{
    margin-top: 45px;
    a{
        margin-right: 10px;
    }
}

.footer__copy{
    background-color: #192027;
    color: #999999;
    padding-top: 35px;
    padding-bottom: 40px;
    text-align: center;
    a{
        color: #fff;
    }
}